body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
}

.mac-window {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    resize: both; /* Allows the div to be resizable */
    overflow: auto; /* Handles the scrollbars when resizing */
    max-width: 100%;
    max-height: 100%;
}

.window-header {
    display: flex;
    background-color: #e6e6e6;
    padding: 8px;
    align-items: center;
    justify-content: flex-start;
}

.button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.button.close {
    background-color: #FF5F57;
}

.button.minimize {
    background-color: #FFBD2E;
}

.button.maximize {
    background-color: #28C940;
}

.window-content {
    flex-grow: 1;
    overflow: hidden; /* Ensures the content doesn't overflow the div */
    position: relative; /* To make sure the SVG scales based on this container */
}

svg {
    width: 100%;
    height: auto;
    display: block;
}
